<!DOCTYPE html>
<html>
<body>
  <meta charset="UTF-8">
  <title>stopwatch</title>
  <script src="js/main.js"></script>
</body>

<body>
  <div id="timer">0:00:00</div>
  <button id="start">start</button>
  <button id="stop">stop</button>
  <button id="reset">reset</button>
</body>

</html>
